openapi: 3.2.0
info:
  version: 1.0.0
  title: Swagger Halftime API
servers:
- url: https://api.siro.ai/
  description: Siro API Gateway
tags:
- name: Halftime
paths:
  /v1/halftime/reports:
    post:
      summary: Generate a halftime report for an in-progress recording.
      description: "Generates the halftime report deterministically (no agent invocation) from the live partial transcript and returns it as a single non-streaming response, mirroring the legacy POST /aurora/reports shape. \t\t\tCreates a gateway chat session when none is passed (returned as sessionId) so follow-up HALFTIME_LIVE_COACHING turns on /agents/run continue the same thread."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
                recordingId:
                  type: string
                organizationId:
                  type: string
                userPlatform:
                  type: string
                  enum:
                  - WEB
                  - MOBILE
                timezone:
                  type: string
                  description: Caller device IANA timezone (e.g. America/Los_Angeles). Used to render the call start time in the default session title while the recording has no generated title yet.
              required:
              - recordingId
      responses:
        '200':
          description: Generate a halftime report for an in-progress recording.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      halftimeReport:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: ID of the Halftime report topic
                            title:
                              type: string
                              description: Name of the Halftime report topic
                            guidance:
                              type: string
                              description: Guidance generated for Halftime report topic
                          required:
                          - id
                          - title
                          - guidance
                      sessionId:
                        type: string
                    required:
                    - halftimeReport
                    - sessionId
                  cursor:
                    anyOf:
                    - type: string
                    - type: number
                    - {}
                  pageSize:
                    type: number
                  limit:
                    type: number
                  total:
                    type:
                    - number
                    - 'null'
                  hasNextPage:
                    type: boolean
                required:
                - data
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                required:
                - error
        '401':
          description: Unauthorized - User not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authentication error message
                required:
                - error
        '403':
          description: Forbidden - User does not have access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authorization error message
                required:
                - error
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Resource not found error message
                required:
                - error
        '422':
          description: Unprocessable Content - The request failed validation checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        expected:
                          type: string
                        received:
                          type: string
                        path:
                          type: array
                          items:
                            anyOf:
                            - type: string
                            - type: number
                        message:
                          type: string
                      required:
                      - code
                      - path
                      - message
                  name:
                    type: string
                    enum:
                    - ZodError
                required:
                - issues
                - name
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Internal server error message
                required:
                - error
      security:
      - SiroAuthToken: []
      tags:
      - Halftime
components:
  securitySchemes:
    SiroAuthToken:
      type: apiKey
      in: header
      name: x-siro-auth-token
      description: 'OAuth access token for user-scoped requests (Authorization Code or machine-to-machine). Send header `x-siro-auth-token: <oauth-access-token>`. Not an organization API key.'
      x-default: <oauth-access-token>
externalDocs:
  description: View the raw OpenAPI Specification in JSON format
  url: /swagger.json
