openapi: 3.2.0
info:
  title: Siro Core API
  version: 1.0.0
  description: 'Operations tagged Core across 4 of this provider''s published API definitions: siro-external-api-openapi.json, siro-openapi-original.json, siro-platform-api-openapi.json, siro-recordings-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://functions.siro.ai/api-externalApi
  description: Siro API external API endpoint
- url: https://api.siro.ai/
  description: Siro API Gateway
tags:
- name: Core
paths:
  /v1/core/recordings/{id}:
    get:
      summary: Get recording
      description: Get a recording by id
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        required: false
        description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        name: showCrmLinks
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording summary results.
        required: false
        description: Include the recording summary results.
        name: showSummary
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording entity extractions.
        required: false
        description: Include the recording entity extractions.
        name: showEntityExtractions
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the scorecard evaluation score for the recording.
        required: false
        description: Include the scorecard evaluation score for the recording.
        name: showEvaluationScore
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        required: false
        description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        name: showFollowups
        in: query
      responses:
        '200':
          description: Get recording
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  organizationId:
                    type: string
                  userId:
                    type: string
                  title:
                    type: string
                  durationInMilliseconds:
                    type: number
                  latitude:
                    type: number
                  longitude:
                    type: number
                  result:
                    type: string
                    enum:
                    - OPEN
                    - WON
                    - LOST
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  rootDataPurgedAt:
                    type:
                    - string
                    - 'null'
                  deleted:
                    type: boolean
                    description: Whether the recording has been deleted. Deleted recordings are still returned so consumers can reconcile them; check this flag (and deletedAt) to handle them.
                  deletedAt:
                    type:
                    - string
                    - 'null'
                    description: When the recording was deleted, if it has been deleted.
                  links:
                    type: object
                    properties:
                      web:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                    required:
                    - web
                  isProcessingDone:
                    type: boolean
                  isEntityExtractionDone:
                    type: boolean
                  isSummaryDone:
                    type: boolean
                  crm:
                    type: object
                    properties:
                      integrationConnectionId:
                        type: string
                        description: Siro internal IntegrationConnection id for the CRM connection
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Internal Siro ID for the external object
                            externalId:
                              type: string
                              description: External ID for the external object in the CRM
                          required:
                          - id
                          - externalId
                        description: CRM Engagement User(s) owning the recording
                      engagement:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Engagement tied to the recording
                      opportunity:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Opportunity tied to the recording
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Internal Siro ID for the external object
                            externalId:
                              type: string
                              description: External ID for the external object in the CRM
                          required:
                          - id
                          - externalId
                        description: CRM Contact(s) tied to the recording
                      account:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Account tied to the recording
                      lead:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Lead tied to the recording
                    required:
                    - integrationConnectionId
                  summary:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        content:
                          type: string
                      required:
                      - id
                      - name
                      - content
                  entityExtractions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                          - type: string
                          - type: number
                          - type: boolean
                          - {}
                          - type: array
                            items:
                              anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - {}
                              - {}
                          - {}
                        mappings:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              crmModelName:
                                type: string
                              crmFieldName:
                                type: string
                            required:
                            - crmModelName
                            - crmFieldName
                      required:
                      - name
                  evaluationScore:
                    type: number
                    description: Scorecard evaluation score for the recording
                  followups:
                    type: array
                    items:
                      type: object
                      properties:
                        recordingId:
                          type: string
                          description: Followup recording id
                        recordingTitle:
                          type:
                          - string
                          - 'null'
                          description: Followup recording title
                        repName:
                          type: string
                          description: Followup rep name
                        repId:
                          type: string
                          description: Followup rep id
                        teamName:
                          type:
                          - string
                          - 'null'
                          description: Followup team name
                        teamId:
                          type: string
                          description: Followup team id
                        followupId:
                          type: string
                          description: Followup id
                        dateCreated:
                          type: string
                          description: Followup date created. ISO 8601 UTC timestamp.
                        followupType:
                          type: string
                          enum:
                          - REHASH
                          - CROSS_SELL
                          description: Followup type. Can be REHASH or CROSS_SELL.
                        score:
                          type: number
                          description: Followup score. Can be between 1 and 5.
                        followupAction:
                          type:
                          - string
                          - 'null'
                          description: Followup action
                        context:
                          type: array
                          items:
                            type: object
                            properties:
                              header:
                                type: string
                                description: Followup context header. Can be MAIN_OBJECTION, EMOTIONAL_TIE, OVERALL_COST, SCOPE, FOLLOW_UP_TIME, SECONDARY_OBJECTION, SCOPE_COST_SUMMARY, OBJECTION_SUMMARY, FOLLOW_UP_SUMMARY, FIRST_PRICE_QUOTE, FINAL_PRICE_QUOTE, PRICING_OPTIONS, FINANCING, COMMITMENT.
                              value:
                                type: string
                                description: Followup context value
                            required:
                            - header
                            - value
                          description: Followup context
                        updatedAt:
                          type: string
                          description: Followup updated at. ISO 8601 UTC timestamp.
                        metadata:
                          type: array
                          items:
                            type: object
                            additionalProperties:
                              type: string
                          description: Followup metadata
                        starred:
                          type: boolean
                          description: Followup starred state. Can be true or false.
                        status:
                          type: string
                          enum:
                          - TO_DO
                          - IN_PROGRESS
                          - COMPLETE
                          description: Followup status. Can be TO_DO, IN_PROGRESS, or COMPLETE.
                        thinking:
                          type: string
                          description: Followup thinking and score breakdown
                        history:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Followup history id
                              updatedBy:
                                type: string
                                description: Followup history updated by
                              updatedByUserId:
                                type:
                                - string
                                - 'null'
                                description: Followup history updated by user id. Null if the updated by is a Siro system action.
                              createdAt:
                                type: string
                                description: Followup history created at. ISO 8601 UTC timestamp.
                              note:
                                type: string
                                description: Followup history note
                              status:
                                type: string
                                enum:
                                - TO_DO
                                - IN_PROGRESS
                                - COMPLETE
                                description: Followup history status
                            required:
                            - id
                            - updatedBy
                            - updatedByUserId
                            - createdAt
                          description: Followup history. Returns all status changes and notes for the followup.
                        crmUrl:
                          type:
                          - string
                          - 'null'
                          description: URL to the customer in the linked CRM (DEPRECATED)
                        crmCustomer:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: string
                              description: Customer ID
                            name:
                              type:
                              - string
                              - 'null'
                              description: Customer name
                            crmUrl:
                              type: string
                              description: URL to this customer in the linked CRM
                            customerType:
                              type: string
                              enum:
                              - ACCOUNT
                              - LEAD
                              - OPPORTUNITY
                              - ENGAGEMENT
                              - CONTACT
                              - DMS_OPPORTUNITY
                            lastActivityAt:
                              type:
                              - string
                              - 'null'
                              description: Last activity date
                            createdAt:
                              type: string
                              format: date-time
                              description: Date the Customer record was created in Siro
                            updatedAt:
                              type: string
                              format: date-time
                              description: Date the Customer record was last updated in Siro
                            closedAt:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: Date the Customer was closed (applicable to Opportunities)
                            emailAddress:
                              type:
                              - string
                              - 'null'
                              description: Customer email addresses
                            phoneNumber:
                              type:
                              - string
                              - 'null'
                              description: Customer phone numbers
                            externalId:
                              type:
                              - string
                              - 'null'
                              description: Customer external ID
                            amount:
                              type:
                              - number
                              - 'null'
                              description: Dollar amount associated with a Customer deal
                            disposition:
                              type:
                              - string
                              - 'null'
                              description: 'Disposition for the Customer deal: "WON" | "LOST" | "OPEN"'
                            recordingId:
                              type:
                              - string
                              - 'null'
                              description: ID of the most recent recording linked to this customer
                            lastRecordingDate:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: Datetime of the most recent recording linked to this customer
                            numRecordings:
                              type:
                              - number
                              - 'null'
                              description: Total number of recordings linked to this customer
                            matchingSource:
                              type:
                              - string
                              - 'null'
                              enum:
                              - DIRECT
                              - FUZZY
                              - NOT_FOUND
                              description: Source of matching
                            accountId:
                              type:
                              - string
                              - 'null'
                              description: Account ID
                            opportunityAccountName:
                              type:
                              - string
                              - 'null'
                              description: Account Name associated with the Opportunity
                            contactId:
                              type:
                              - string
                              - 'null'
                              description: Contact ID
                            opportunityContactName:
                              type:
                              - string
                              - 'null'
                              description: Contact Name associated with the Opportunity
                            opportunityId:
                              type:
                              - string
                              - 'null'
                              description: Opportunity ID
                            engagementId:
                              type:
                              - string
                              - 'null'
                              description: Engagement ID
                            opportunity:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: string
                                externalId:
                                  type: string
                                  description: The ID of the opportunity in the external system (e.g. Salesforce)
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  description: The name of the opportunity
                                amount:
                                  type: number
                                  description: The dollar amount of the opportunity
                                closedAt:
                                  type: string
                                  description: The closure date of the opportunity
                                disposition:
                                  type: string
                                  description: '"WON" | "LOST" | "OPEN"'
                                createdAt:
                                  type: string
                                  description: The date the opportunity was created
                                updatedAt:
                                  type: string
                                  description: The date the opportunity was last updated
                                recordingId:
                                  type: string
                                  description: The ID of the recording associated to the opportunity
                                accountId:
                                  type: string
                                organizationId:
                                  type: string
                                account: {}
                                opportunityUsers:
                                  type: array
                                  items: {}
                              required:
                              - id
                              - externalId
                              - createdAt
                              - updatedAt
                              - organizationId
                              description: Opportunity
                            opportunities:
                              type:
                              - object
                              - 'null'
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      externalId:
                                        type: string
                                        description: The ID of the opportunity in the external system (e.g. Salesforce)
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: The name of the opportunity
                                      amount:
                                        type: number
                                        description: The dollar amount of the opportunity
                                      closedAt:
                                        type: string
                                        description: The closure date of the opportunity
                                      disposition:
                                        type: string
                                        description: '"WON" | "LOST" | "OPEN"'
                                      createdAt:
                                        type: string
                                        description: The date the opportunity was created
                                      updatedAt:
                                        type: string
                                        description: The date the opportunity was last updated
                                      recordingId:
                                        type: string
                                        description: The ID of the recording associated to the opportunity
                                      accountId:
                                        type: string
                                      organizationId:
                                        type: string
                                      account: {}
                                      opportunityUsers:
                                        type: array
                                        items: {}
                                    required:
                                    - id
                                    - externalId
                                    - createdAt
                                    - updatedAt
                                    - organizationId
                                cursor:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - data
                              description: Optional first page of related opportunities for Accounts or Contacts
                            opportunityUsers:
                              type:
                              - array
                              - 'null'
                              items: {}
                              description: Users associated with the opportunity
                            contactAccount:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: string
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  description: The name of the account
                                externalId:
                                  type:
                                  - string
                                  - 'null'
                                  description: The ID of the account in the external system (e.g. Salesforce)
                              required:
                              - id
                              description: Contact Account
                            address:
                              type:
                              - string
                              - 'null'
                              description: Address
                            organizationId:
                              type: string
                              description: Organization ID
                            integrationConnectionId:
                              type:
                              - string
                              - 'null'
                              description: Integration Connection ID
                            integrationPlatform:
                              type:
                              - string
                              - 'null'
                              enum:
                              - MERGE
                              - SIRO_CUSTOM_INPUT
                              - SERVICE_TITAN
                              - COMPANY_CAM
                              - INGAGE
                              - LEAD_PERFECTION
                              - SPOTIO
                              description: Integration Platform
                            integrationName:
                              type:
                              - string
                              - 'null'
                              description: Integration Name
                          required:
                          - id
                          - createdAt
                          - updatedAt
                          - organizationId
                          description: Followup CRM customer. Includes the CRM customer if the followup is associated with a CRM customer.
                        hasFollowupComment:
                          type: boolean
                          description: Whether the followup has a followup specific comment on the associated recording.
                        note:
                          type:
                          - string
                          - 'null'
                          description: Followup note. Deprecated in favor of FollowupHistory.
                        completed:
                          type: boolean
                          description: Followup completed state. Deprecated in favor of status, which is included in FollowupHistory.
                        completedBy:
                          type:
                          - string
                          - 'null'
                          description: Followup completed by. Deprecated in favor of FollowupHistory.
                        completedAt:
                          type:
                          - string
                          - 'null'
                          description: Followup completed at. ISO 8601 UTC timestamp. Deprecated in favor of FollowupHistory.
                      required:
                      - recordingId
                      - recordingTitle
                      - repName
                      - repId
                      - teamName
                      - teamId
                      - followupId
                      - dateCreated
                      - followupType
                      - score
                      - followupAction
                      - context
                      - updatedAt
                      - metadata
                      - starred
                      - status
                      - thinking
                      - crmCustomer
                      - hasFollowupComment
                      - note
                      - completed
                      - completedBy
                      - completedAt
                    description: Array of follow-up actions and communications generated from the recording
                required:
                - id
                - organizationId
                - userId
                - title
                - durationInMilliseconds
                - latitude
                - longitude
                - result
                - createdAt
                - updatedAt
                - deleted
                - links
      security:
      - bearerAuth: []
      tags:
      - Core
    delete:
      summary: Soft-delete a recording
      description: Soft-deletes a recording. This will make it unfetchable.Only recording owners and admins can soft-delete a recording.
      parameters:
      - schema:
          type: string
          description: Recording ID
        required: true
        description: Recording ID
        name: id
        in: path
      responses:
        '200':
          description: Soft-delete a recording
          content:
            application/json:
              schema:
                type:
                - string
                - 'null'
                description: Empty response on successful deletion.
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                required:
                - error
        '401':
          description: Unauthorized - User not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authentication error message
                required:
                - error
        '403':
          description: Forbidden - User does not have access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authorization error message
                required:
                - error
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Resource not found error message
                required:
                - error
        '422':
          description: Unprocessable Content - The request failed validation checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        expected:
                          type: string
                        received:
                          type: string
                        path:
                          type: array
                          items:
                            anyOf:
                            - type: string
                            - type: number
                        message:
                          type: string
                      required:
                      - code
                      - path
                      - message
                  name:
                    type: string
                    enum:
                    - ZodError
                required:
                - issues
                - name
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Internal server error message
                required:
                - error
      security:
      - SiroAuthToken: []
      tags:
      - Core
    servers:
    - url: https://functions.siro.ai/api-externalApi
      description: Siro API external API endpoint
  /v1/core/recordings:
    get:
      summary: Get recordings
      description: Get recordings
      parameters:
      - schema:
          type:
          - string
          - 'null'
          description: 'Return results created strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results created strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: createdAt:gt
        in: query
      - schema:
          type:
          - string
          - 'null'
          description: 'Return results created strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results created strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: createdAt:lt
        in: query
      - schema:
          type:
          - string
          - 'null'
          description: 'Return results updated at or after the given date (inclusive). Use this for incremental polling. Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated at or after the given date (inclusive). Use this for incremental polling. Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:gte
        in: query
      - schema:
          type:
          - string
          - 'null'
          description: 'Return results updated strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:gt
        in: query
      - schema:
          type:
          - string
          - 'null'
          description: 'Return results updated strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:lt
        in: query
      - schema:
          type:
          - string
          - 'null'
          description: 'Return results updated at or before the given date (inclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated at or before the given date (inclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:lte
        in: query
      - schema:
          type: string
          description: Number of results to return per page (default is 25).
        required: false
        description: Number of results to return per page (default is 25).
        name: pageSize
        in: query
      - schema:
          type: string
          description: Cursor for pagination.
        required: false
        description: Cursor for pagination.
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Filter by processing status.
        required: false
        description: Filter by processing status.
        name: isProcessingDone
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Filter by entity extraction status.
        required: false
        description: Filter by entity extraction status.
        name: isEntityExtractionDone
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Filter by summary status.
        required: false
        description: Filter by summary status.
        name: isSummaryDone
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        required: false
        description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        name: showCrmLinks
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording summary results.
        required: false
        description: Include the recording summary results.
        name: showSummary
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording entity extractions.
        required: false
        description: Include the recording entity extractions.
        name: showEntityExtractions
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the scorecard evaluation score for the recording.
        required: false
        description: Include the scorecard evaluation score for the recording.
        name: showEvaluationScore
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        required: false
        description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        name: showFollowups
        in: query
      responses:
        '200':
          description: Get recordings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        organizationId:
                          type: string
                        userId:
                          type: string
                        title:
                          type: string
                        durationInMilliseconds:
                          type: number
                        latitude:
                          type: number
                        longitude:
                          type: number
                        result:
                          type: string
                          enum:
                          - OPEN
                          - WON
                          - LOST
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        rootDataPurgedAt:
                          type:
                          - string
                          - 'null'
                        deleted:
                          type: boolean
                          description: Whether the recording has been deleted. Deleted recordings are still returned so consumers can reconcile them; check this flag (and deletedAt) to handle them.
                        deletedAt:
                          type:
                          - string
                          - 'null'
                          description: When the recording was deleted, if it has been deleted.
                        links:
                          type: object
                          properties:
                            web:
                              type: object
                              properties:
                                self:
                                  type: string
                              required:
                              - self
                          required:
                          - web
                        isProcessingDone:
                          type: boolean
                        isEntityExtractionDone:
                          type: boolean
                        isSummaryDone:
                          type: boolean
                        crm:
                          type: object
                          properties:
                            integrationConnectionId:
                              type: string
                              description: Siro internal IntegrationConnection id for the CRM connection
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Internal Siro ID for the external object
                                  externalId:
                                    type: string
                                    description: External ID for the external object in the CRM
                                required:
                                - id
                                - externalId
                              description: CRM Engagement User(s) owning the recording
                            engagement:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Engagement tied to the recording
                            opportunity:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Opportunity tied to the recording
                            contacts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Internal Siro ID for the external object
                                  externalId:
                                    type: string
                                    description: External ID for the external object in the CRM
                                required:
                                - id
                                - externalId
                              description: CRM Contact(s) tied to the recording
                            account:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Account tied to the recording
                            lead:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Lead tied to the recording
                          required:
                          - integrationConnectionId
                        summary:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              content:
                                type: string
                            required:
                            - id
                            - name
                            - content
                        entityExtractions:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              value:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    type: string
                                - type: string
                                - type: number
                                - type: boolean
                                - {}
                                - type: array
                                  items:
                                    anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - {}
                                    - {}
                                - {}
                              mappings:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    crmModelName:
                                      type: string
                                    crmFieldName:
                                      type: string
                                  required:
                                  - crmModelName
                                  - crmFieldName
                            required:
                            - name
                        evaluationScore:
                          type: number
                          description: Scorecard evaluation score for the recording
                        followups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              score:
                                type: number
                          description: Slim followup summaries (id and score). Use GET /recordings/{id}?showFollowups=true for the full followup payload.
                      required:
                      - id
                      - organizationId
                      - userId
                      - title
                      - durationInMilliseconds
                      - latitude
                      - longitude
                      - result
                      - createdAt
                      - updatedAt
                      - deleted
                      - links
                  cursor:
                    type:
                    - string
                    - 'null'
                    description: Opaque cursor for pagination
                required:
                - data
                - cursor
      security:
      - bearerAuth: []
      tags:
      - Core
    put:
      summary: Create a new recording
      description: Create a new recording with the specified parameters. The recording will be initialized in the RECORDING state and ready to receive audio chunks.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                isPrivate:
                  type: boolean
                enableAutomaticSplit:
                  type: boolean
                dateCreated:
                  anyOf:
                  - type: string
                  - type: string
                conversationType:
                  type: string
                source:
                  type: object
                  properties:
                    sdkVersion:
                      type: string
                    bundleId:
                      type: string
                    appVersion:
                      type: string
                    appName:
                      type: string
                    sdkType:
                      type: string
                      enum:
                      - iOS
                      - android
                  additionalProperties: false
                originalDeviceId:
                  type: string
                title:
                  type: string
                os:
                  type: string
                osVersion:
                  anyOf:
                  - type: string
                  - type: number
                deviceType:
                  type: string
                codeVersion:
                  type: string
                opportunityId:
                  type: string
                engagementId:
                  type: string
                transcriptionLanguage:
                  type: string
                recordingSettings:
                  type: object
                  properties:
                    mobileChunkCreationMode:
                      type: string
                      enum:
                      - minimized
                      - intervaled
                  additionalProperties: false
                integrationConnectionId:
                  type: string
                crmObjects:
                  type: array
                  items:
                    type: object
                    properties:
                      objectType:
                        type: string
                        enum:
                        - Opportunity
                        - Account
                        - Contact
                        - Lead
                        - Engagement
                        - Event
                        - ServiceAppointment
                      objectId:
                        type: string
                        minLength: 1
                    required:
                    - objectType
                    - objectId
                result:
                  type: string
                  enum:
                  - closed
                  - not closed
                  - in progress
              required:
              - id
              - dateCreated
              additionalProperties: false
      responses:
        '201':
          description: Create a new recording
          content:
            application/json:
              schema:
                type:
                - string
                - 'null'
                description: Empty response on successful creation
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                required:
                - error
        '401':
          description: Unauthorized - User not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authentication error message
                required:
                - error
        '403':
          description: Forbidden - User does not have access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authorization error message
                required:
                - error
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Resource not found error message
                required:
                - error
        '422':
          description: Unprocessable Content - The request failed validation checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        expected:
                          type: string
                        received:
                          type: string
                        path:
                          type: array
                          items:
                            anyOf:
                            - type: string
                            - type: number
                        message:
                          type: string
                      required:
                      - code
                      - path
                      - message
                  name:
                    type: string
                    enum:
                    - ZodError
                required:
                - issues
                - name
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Internal server error message
                required:
                - error
      security:
      - SiroAuthToken: []
      tags:
      - Core
    patch:
      summary: Update a recording
      description: Update an existing recording with new information. Only fields provided in the request body will be updated.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                title:
                  type: string
                conversationType:
                  type: string
                transcriptionStatus:
                  type: string
                  enum:
                  - RECORDING
                  - UPLOADING
                  - UPLOADED
                  - TRANSCRIBING
                  - AWAITING_REDACTION
                  - REDACTING
                  - COMPLETE
                  - SECONDARY_TRANSCRIPTION_COMPLETE
                  - ERROR
                  - UNRECOVERABLE_ERROR
                  - REMOVED
                  - RAW_SPLIT
                terminatedUngraciously:
                  type: boolean
                numberOfExpectedChunks:
                  type: number
                expectedChunksOutstanding:
                  type: array
                  items:
                    type: string
                isPrivate:
                  type: boolean
                notes:
                  type: string
                discoverable:
                  type: boolean
                result:
                  type: string
                  enum:
                  - closed
                  - not closed
                  - in progress
                advancedBookmarksChecked:
                  type: boolean
                doNotDelete:
                  type: boolean
                conversationQualityTag:
                  type: string
                  enum:
                  - FULL_CONVERSATION
                  - NOT_FULL_CONVERSATION
                consentSignatureBase64:
                  type: string
                customerConsentAttested:
                  type: boolean
                repConsentAttested:
                  type: boolean
                dateCreated:
                  type: string
                  format: date-time
              required:
              - id
              additionalProperties: false
      responses:
        '200':
          description: Update a recording
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the recording.
                      dateCreated:
                        type: string
                        description: When the recording was created.
                      transcriptionStatus:
                        type: string
                        enum:
                        - RECORDING
                        - UPLOADING
                        - UPLOADED
                        - TRANSCRIBING
                        - AWAITING_REDACTION
                        - REDACTING
                        - COMPLETE
                        - SECONDARY_TRANSCRIPTION_COMPLETE
                        - ERROR
                        - UNRECOVERABLE_ERROR
                        - REMOVED
                        - RAW_SPLIT
                        description: Current transcription status of the recording.
                      processingStatus:
                        type: string
                        enum:
                        - in-progress
                        - complete
                        - error
                        description: Overall processing status.
                      processingStage:
                        type: string
                        enum:
                        - recording
                        - uploading
                        - processing
                        - done
                        description: Current stage in the processing pipeline.
                      processingErrors:
                        type: array
                        items:
                          type: string
                          enum:
                          - bookmarking-failed
                          - summary-failed
                        description: List of processing errors encountered.
                      recordErrors:
                        type: array
                        items:
                          type: string
                          enum:
                          - paused-early
                          - interrupted
                          - stopped-early
                        description: Errors specific to mobile recording.
                      processingError:
                        type: string
                        description: General processing error message.
                      rawAudioPath:
                        type: string
                        description: Path to the raw audio file.
                      processedAudioPath:
                        type: string
                        description: Path to the processed audio file.
                      lastProcessedAudio:
                        type: string
                        description: Timestamp of the last audio processing.
                      organizationId:
                        type: string
                        description: ID of the organization associated with the recording.
                      teamId:
                        type: string
                        description: ID of the team associated with the recording.
                      userId:
                        type: string
                        description: ID of the user who created the recording.
                      locked:
                        type: boolean
                        description: Indicates if the recording is locked.
                      terminatedUngraciously:
                        type: boolean
                        description: Indicates if the recording was terminated unexpectedly.
                      originalDeviceId:
                        type: string
                        description: Device ID that created the recording.
                      codeVersion:
                        type: string
                        description: App version/build/code that created the recording.
                      trigger:
                        type: string
                        description: Recording trigger
                        enum:
                        - button-press
                        - deeplink
                        - modern-deeplink
                        - mobile-sdk
                      lock:
                        type: boolean
                        description: General lock for the recording.
                      splitLock:
                        type: boolean
                        description: Indicates if a split is in progress.
                      mergeLock:
                        type: boolean
                        description: Indicates if a merge is in progress.
                      splitRetryNeeded:
                        type: boolean
                        description: Indicates if a split retry is needed.
                      organizationName:
                        type: string
                        description: Name of the organization.
                      repFirstName:
                        type: string
                        description: First name of the representative.
                      repLastName:
                        type: string
                        description: Last name of the representative.
                      speakerMap:
                        type: object
                        additionalProperties:
                          type: string
                        description: Map of speaker IDs to speaker names.
                      mergeRetryNeeded:
                        type: boolean
                        description: Indicates if a merge retry is needed.
                      redactedTranscript:
                        type: string
                        description: Redacted transcript text.
                      confidence:
                        type: number
                        description: Confidence score for the recording.
                      error:
                        type:
                        - string
                        - 'null'
                        description: General error message.
                      jumpToTags:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                            timestampInMilliseconds:
                              type: number
                            endTimestampInMilliseconds:
                              type: number
                            type:
                              type: string
                            types:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            preview:
                              type: string
                            previewStartTimestampInMilliseconds:
                              type: number
                            previewChunkId:
                              type: string
                            bookmarkConfigId:
                              type: string
                            advancedBookmarkId:
                              type: string
                            advancedBookmarkConfirmed:
                              type: boolean
                            repResponseId:
                              type: string
                            botCommentId:
                              type: string
                            botCommentThreadId:
                              type: string
                            confirmationQuestion:
                              type: string
                            classificationQuestions:
                              type: array
                              items:
                                type: object
                                properties:
                                  text:
                                    type: string
                                  result:
                                    type: boolean
                            responseDetails:
                              type: string
                            responseJudgement:
                              type: string
                            exchangeStart:
                              type: number
                            exchangeEnd:
                              type: number
                            manualLabelId:
                              type: string
                            identifier:
                              type: string
                            speakerTag:
                              type: string
                            similarityScore:
                              type: number
                            llmConfirmed:
                              type: boolean
                            llmJustification:
                              type: string
                            llmBookmarkingAnswer:
                              type: string
                          required:
                          - text
                        description: Array of jump-to tags/bookmarks.
                      jumpToTagsWordsOnly:
                        type: array
                        items:
                          type: string
                        description: Array of tag texts only.
                      lastUpdatedJumpToTags:
                        type: string
                        description: Timestamp of last jump-to-tags update.
                      manualLabelBookmarkConfigIds:
                        type: array
                        items:
                          type: string
                        description: Bookmark config IDs used for manual labeling.
                      result:
                        anyOf:
                        - type: string
                        - type: string
                          enum:
                          - closed
                          - not closed
                          - in progress
                        description: Result of the recording (e.g., closed, not closed).
                      title:
                        type: string
                        description: Title of the recording.
                      notes:
                        type: string
                        description: Notes about the recording.
                      durationInMilliseconds:
                        type: number
                        description: Duration of the recording in milliseconds.
                      discoverable:
                        type: boolean
                        description: Whether the recording is discoverable.
                      isPrivate:
                        type: boolean
                        description: Whether the recording is private.
                      detected_language:
                        type: string
                        description: Detected language of the recording.
                      trendingScore:
                        type: number
                        description: Trending score for the recording.
                      starCount:
                        type: number
                        description: Number of stars/bookmarks.
                      viewCount:
                        type: number
                        description: Total view count.
                      uniqueViewCount:
                        type: number
                        description: Unique view count.
                      deleted:
                        type: boolean
                        description: Indicates if the recording is deleted.
                      deletedDate:
                        type: string
                        description: Date when the recording was deleted.
                      deletedPermanently:
                        type: boolean
                        description: Indicates if the recording was permanently deleted.
                      rootDataPurgedAt:
                        type: string
                        description: Date when the recording root data (audio, transcript, summary, etc.) was purged under a retention policy. Shell metadata is preserved.
                      originalRecordingId:
                        type: string
                        description: ID of the original recording (if split).
                      enableAutomaticSplit:
                        type: boolean
                        description: Whether automatic split is enabled.
                      offsetFromOriginalRecordingMs:
                        type: number
                        description: Offset from the original recording in ms.
                      conversationType:
                        type: string
                        description: Type of conversation.
                      debriefResponses:
                        type: object
                        additionalProperties:
                          anyOf:
                          - type: string
                          - type: string
                          - type: number
                          - type: array
                            items:
                              anyOf:
                              - type: string
                              - type: number
                        description: Debrief responses keyed by question ID.
                      debriefQuestions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            prompt:
                              type: string
                            promptDetails:
                              type: string
                            responseType:
                              type: string
                              enum:
                              - DATE_RESPONSE
                              - FREE_TEXT_RESPONSE
                              - SELECT_RESPONSE
                            responseConfig:
                              anyOf:
                              - type: object
                                properties:
                                  latestAllowableDate:
                                    anyOf:
                                    - type: string
                                    - type: number
                                  earliestAllowableDate:
                                    anyOf:
                                    - type: string
                                    - type: number
                                  includeTime:
                                    type: boolean
                                  required:
                                    type: boolean
                                required:
                                - includeTime
                                - required
                              - type: object
                                properties:
                                  interpretAsNumber:
                                    type: boolean
                                  required:
                                    type: boolean
                                  maxSize:
                                    type: number
                                  minSize:
                                    type: number
                                  customValidation: {}
                                  validationErrorMessage:
                                    type: string
                                required:
                                - interpretAsNumber
                                - required
                              - type: object
                                properties:
                                  options:
                                    type: array
                                    items:
                                      anyOf:
                                      - type: string
                                      - type: number
                                  dropdown:
                                    type: boolean
                                  minSelects:
                                    type: number
                                  maxSelects:
                                    type: number
                                required:
                                - options
                            includeIf:
                              type: array
                              items:
                                type: object
                                properties:
                                  questionId:
                                    type: string
                                  value:
                                    anyOf:
                                    - type: string
                                    - type: number
                                required:
                                - questionId
                                - value
                            onlyIncludeIfFlagged:
                              type: boolean
                            sortValue:
                              type: number
                            setResponseToField:
                              type: string
                            hideFromResults:
                              type: boolean
                          required:
                          - id
                          - prompt
                          - responseType
                          - responseConfig
                          - sortValue
                        description: Array of debrief questions.
                      lastChunkUploaded:
                        type: string
                        description: Timestamp of the last chunk uploaded.
                      numberOfChunks:
                        type: number
                        description: Number of chunks in the recording.
                      numberOfProcessedChunks:
                        type: number
                        description: Number of processed chunks.
                      numberOfExpectedChunks:
                        type: number
                        description: Number of expected chunks.
                      numberOfComments:
                        type: number
                        description: Number of comments.
                      unreadComments:
                        type: object
                        additionalProperties:
                          type: number
                        description: Unread comments per user.
                      unreadTags:
                        type: object
                        additionalProperties:
                          type: number
                        description: Unread tags per user.
                      tags:
                        type: object
                        additionalProperties:
                          type: boolean
                        description: Tag map for the recording.
                      lastLabeled:
                        type: string
                        description: Timestamp of last manual label.
                      bookmarkConfigsUsedDuringLabeling:
                        type: array
                        items:
                          type: string
                        description: Bookmark configs used during labeling.
                      bookmarklabels:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              startTimeInMilliseconds:
                                type: number
                              endTimeInMilliseconds:
                                type: number
                            required:
                            - startTimeInMilliseconds
                            - endTimeInMilliseconds
                        description: Bookmark labels by config ID.
                      outcomeLabel:
                        type: string
                        enum:
                        - CLOSED
                        - NOT_CLOSED
                        description: Outcome label (deprecated).
                      manualLabels:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            bookmarkConfigId:
                              type: string
                            exists:
                              type: boolean
                            lastLabeledDate:
                              type: string
                            lastLabeledByUid:
                              type: string
                            recordingId:
                              type: string
                            title:
                              type: string
                            startTimestampInMillis:
                              type: number
                            endTimestampInMillis:
                              type: number
                            unadjustedStartTimestampInMillis:
                              type: number
                            unadjustedEndTimestampInMillis:
                              type: number
                          required:
                          - id
                          - bookmarkConfigId
                          - recordingId
                          - title
                          - startTimestampInMillis
                          - endTimestampInMillis
                        description: Array of manual labels.
                      splitHistory:
                        type: array
                        items:
                          type: object
                          properties:
                            splitTimestampMs:
                              type: number
                            splitRecordingId:
                              type: string
                            splitDate:
                              type: string
                        description: History of splits for this recording.
                      secondaryTranscriptionJobId:
                        type: string
                        description: ID of the secondary transcription job.
                      secondaryTranscriptionService:
                        type: string
                        description: Service used for secondary transcription.
                      secondaryProcessingStatus:
                        type: string
                        enum:
                        - in-progress
                        - complete
                        - error
                        description: Processing status of secondary transcription.
                      secondaryTranscriptionIgnored:
                        type: boolean
                        description: Whether secondary transcription was ignored.
                      secondaryTranscriptionAttempts:
                        type: number
                        description: Number of secondary transcription attempts.
                      secondaryTranscriptionDurationSent:
                        type: number
                        description: Milliseconds of audio sent to secondary transcription.
                      lastSuccessfulSecondaryTranscription:
                        type: object
                        properties:
                          _seconds:
                            type: number
                          _nanoseconds:
                            type: number
                        description: Timestamp of last successful secondary transcription.
                      lastSuccessfulSecondaryTranscriptionJobId:
                        type: string
                        description: ID of last successful secondary transcription job.
                      leadIdSiro:
                        type: string
                        description: Lead ID in Siro.
                      leadInteractionIdSiro:
                        type: string
                        description: Lead interaction ID in Siro.
                      leadInteractionMatchScore:
                        type: number
                        description: Lead interaction match score.
                      latitude:
                        type: number
                        description: Latitude of the recording location.
                      longitude:
                        type: number
                        description: Longitude of the recording location.
                      coordinates:
                        description: Firestore geopoint type.
                      g:
                        type: object
                        properties:
                          geohash:
                            type: string
                          geopoint: {}
                        required:
                        - geohash
                        description: Geohash and geopoint object.
                      conversationTime:
                        type: number
                        description: Milliseconds spent actively in conversation.
                      repSpeakingTime:
                        type: number
                        description: Milliseconds the rep spoke.
                      customerSpeakingTime:
                        type: number
                        description: Milliseconds the customer spoke.
                      customerQuestionsCount:
                        type: number
                        description: Number of questions asked by the customer.
                      repQuestionsCount:
                        type: number
                        description: Number of questions asked by the rep.
                      exchangesCount:
                        type: number
                        description: Total number of speaking turns.
                      repExchangesCount:
                        type: number
                        description: Number of speaking turns by the rep.
                      totalRepExchangesWithAQuestion:
                        type: number
                        description: Total rep exchanges with a question.
                      repWordCount:
                        type: number
                        description: Total words spoken by the rep.
                      repUniqueWordsUsedCount:
                        type: number
                        description: Unique words used by the rep.
                      repFillerWordsCount:
                        type: number
                        description: Filler words used by the rep.
                      totalRepVocabularyScore:
                        type: number
                        description: Total vocabulary score for the rep.
                      totalRepWordObscurityScore:
                        type: number
                        description: Total word obscurity score for the rep.
                      longestMonologueMillis:
                        type: number
                        description: Longest uninterrupted rep monologue in ms.
                      longestCustomerStoryMillis:
                        type: number
                        description: Longest uninterrupted customer story in ms.
                      repWordsPerMinute:
                        type: number
                        description: Rep words per minute.
                      repFillerWordsPerMin:
                        type: number
                        description: Rep filler words per minute.
                      repSpeakerShare:
                        type: number
                        description: Rep speaker share as percent.
                      interactivityScore:
                        type: number
                        description: Interactivity score.
                      repControl:
                        type: number
                        description: Percent of rep exchanges that include a question.
                      repVocabularyLevel:
                        type: number
                        description: Rep vocabulary level (CEFR).
                      repWordObscurityScore:
                        type: number
                        description: Rep word obscurity score.
                      conversationSegmentDates:
                        type: array
                        items:
                          type: object
                          properties:
                            dateStarted:
                              type: string
                            dateEnded:
                              type: string
                            conversationType:
                              type: string
                          required:
                          - dateStarted
                          - dateEnded
                        description: Array of conversation segment dates.
                      chunkStatusMap:
                        type: object
                        additionalProperties:
                          type: string
                          enum:
                          - RECORDING
                          - UPLOADING
                          - UPLOADED
                          - TRANSCRIBING
                          - AWAITING_REDACTION
                          - REDACTING
                          - COMPLETE
                          - SECONDARY_TRANSCRIPTION_COMPLETE
                          - ERROR
                          - UNRECOVERABLE_ERROR
                          - REMOVED
                          - RAW_SPLIT
                        description: Status of each chunk.
                      expectedChunksOutstanding:
                        type: array
                        items:
                          type: string
                        description: IDs of chunks not yet uploaded.
                      advancedBookmarksChecked:
                        type: boolean
                        description: 'DEPRECATED (May 2026): no longer written by the backend. Retained in the schema for SDK backwards compatibility.'
                      extractedPrimaryContactPhoneNumber:
                        type: object
                        properties:
                          value:
                            type: string
                          chunkId:
                            type: string
                          chunkNumber:
                            type: number
                          startTimeInMilliseconds:
                            type: number
                          endTimeInMilliseconds:
                            type: number
                          confidence:
                            type: number
                        required:
                        - value
                        - chunkId
                        - chunkNumber
                        - startTimeInMilliseconds
                        - endTimeInMilliseconds
                        - confidence
                        description: Extracted primary contact phone number.
                      doNotDelete:
                        type: boolean
                        description: Whether the recording is protected from deletion.
                      processedChunkNumbers:
                        type: array
                        items:
                          type: number
                        description: Array of processed chunk numbers.
                      skippableChunkNumbers:
                        type: array
                        items:
                          type: number
                        description: Array of skippable chunk numbers.
                      dateLackingSingleExpectedChunk:
                        type: string
                        description: Date when a single chunk was missing.
                      audioDurationInMilliseconds:
                        type: number
                        description: Audio duration in milliseconds.
                      isVideo:
                        type: boolean
                        description: Whether the recording is a video.
                      videoRecordingId:
                        type: string
                        description: ID of the associated video recording.
                      rawVideoPath:
                        type: string
                        description: Path to the raw video file.
                      externalVideoUrl:
                        type:
                        - string
                        - 'null'
                        description: 'URL to external video source - processed after audio redaction. Deprecated: use unprocessedVideo instead.'
                      unprocessedVideo:
                        oneOf:
                        - type: object
                          properties:
                            provider:
                              type: string
                              enum:
                              - recall
                            url:
                              type: string
                              description: Pre-signed/public URL from Recall
                          required:
                          - provider
                          - url
                        - type: object
                          properties:
                            provider:
                              type: string
                              enum:
                              - livekit
                            gcsPath:
                              type: string
                              description: Path within LiveKit holding bucket
                            webhookEventId:
                              type: string
                              description: LiveKit webhook event ID for idempotency
                          required:
                          - provider
                          - gcsPath
                        - {}
                        description: Unprocessed video source - cleared after rawVideoPath is set.
                      source:
                        type: object
                        properties:
                          sdkVersion:
                            type: string
                          bundleId:
                            type: string
                          appVersion:
                            type: string
                          appName:
                            type: string
                          sdkType:
                            type: string
                            enum:
                            - iOS
                            - android
                        additionalProperties: false
                        description: Source information for the recording.
                      transcriptionLanguage:
                        type: string
                        enum:
                        - English
                        - Spanish
                        - French
                        description: Language used for transcription.
                      os:
                        type: string
                        enum:
                        - ios
                        - android
                        - windows
                        - macos
                        - web
[...]
