openapi: 3.0.0
info:
  version: 1.0.0
  title: Swagger Audit Core API
servers:
- url: https://functions.siro.ai/api-externalApi
  description: Siro API external API endpoint
tags:
- name: Core
paths:
  /v1/core/recordings/{id}:
    get:
      summary: Get recording
      description: Get a recording by id
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        required: false
        description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        name: showCrmLinks
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording summary results.
        required: false
        description: Include the recording summary results.
        name: showSummary
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording entity extractions.
        required: false
        description: Include the recording entity extractions.
        name: showEntityExtractions
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the scorecard evaluation score for the recording.
        required: false
        description: Include the scorecard evaluation score for the recording.
        name: showEvaluationScore
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        required: false
        description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        name: showFollowups
        in: query
      responses:
        '200':
          description: Get recording
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  organizationId:
                    type: string
                  userId:
                    type: string
                  title:
                    type: string
                  durationInMilliseconds:
                    type: number
                  latitude:
                    type: number
                  longitude:
                    type: number
                  result:
                    type: string
                    enum:
                    - OPEN
                    - WON
                    - LOST
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  rootDataPurgedAt:
                    type: string
                    nullable: true
                  deleted:
                    type: boolean
                    description: Whether the recording has been deleted. Deleted recordings are still returned so consumers can reconcile them; check this flag (and deletedAt) to handle them.
                  deletedAt:
                    type: string
                    nullable: true
                    description: When the recording was deleted, if it has been deleted.
                  links:
                    type: object
                    properties:
                      web:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                    required:
                    - web
                  isProcessingDone:
                    type: boolean
                  isEntityExtractionDone:
                    type: boolean
                  isSummaryDone:
                    type: boolean
                  crm:
                    type: object
                    properties:
                      integrationConnectionId:
                        type: string
                        description: Siro internal IntegrationConnection id for the CRM connection
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Internal Siro ID for the external object
                            externalId:
                              type: string
                              description: External ID for the external object in the CRM
                          required:
                          - id
                          - externalId
                        description: CRM Engagement User(s) owning the recording
                      engagement:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Engagement tied to the recording
                      opportunity:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Opportunity tied to the recording
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Internal Siro ID for the external object
                            externalId:
                              type: string
                              description: External ID for the external object in the CRM
                          required:
                          - id
                          - externalId
                        description: CRM Contact(s) tied to the recording
                      account:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Account tied to the recording
                      lead:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Internal Siro ID for the external object
                          externalId:
                            type: string
                            description: External ID for the external object in the CRM
                        required:
                        - id
                        - externalId
                        description: CRM Lead tied to the recording
                    required:
                    - integrationConnectionId
                  summary:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        content:
                          type: string
                      required:
                      - id
                      - name
                      - content
                  entityExtractions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          anyOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                          - type: string
                          - type: number
                          - type: boolean
                          - nullable: true
                          - type: array
                            items:
                              anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                              - nullable: true
                              - nullable: true
                          - nullable: true
                        mappings:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              crmModelName:
                                type: string
                              crmFieldName:
                                type: string
                            required:
                            - crmModelName
                            - crmFieldName
                      required:
                      - name
                  evaluationScore:
                    type: number
                    description: Scorecard evaluation score for the recording
                  followups:
                    type: array
                    items:
                      type: object
                      properties:
                        recordingId:
                          type: string
                          description: Followup recording id
                        recordingTitle:
                          type: string
                          nullable: true
                          description: Followup recording title
                        repName:
                          type: string
                          description: Followup rep name
                        repId:
                          type: string
                          description: Followup rep id
                        teamName:
                          type: string
                          nullable: true
                          description: Followup team name
                        teamId:
                          type: string
                          description: Followup team id
                        followupId:
                          type: string
                          description: Followup id
                        dateCreated:
                          type: string
                          description: Followup date created. ISO 8601 UTC timestamp.
                        followupType:
                          type: string
                          enum:
                          - REHASH
                          - CROSS_SELL
                          description: Followup type. Can be REHASH or CROSS_SELL.
                        score:
                          type: number
                          description: Followup score. Can be between 1 and 5.
                        followupAction:
                          type: string
                          nullable: true
                          description: Followup action
                        context:
                          type: array
                          items:
                            type: object
                            properties:
                              header:
                                type: string
                                description: Followup context header. Can be MAIN_OBJECTION, EMOTIONAL_TIE, OVERALL_COST, SCOPE, FOLLOW_UP_TIME, SECONDARY_OBJECTION, SCOPE_COST_SUMMARY, OBJECTION_SUMMARY, FOLLOW_UP_SUMMARY, FIRST_PRICE_QUOTE, FINAL_PRICE_QUOTE, PRICING_OPTIONS, FINANCING, COMMITMENT.
                              value:
                                type: string
                                description: Followup context value
                            required:
                            - header
                            - value
                          description: Followup context
                        updatedAt:
                          type: string
                          description: Followup updated at. ISO 8601 UTC timestamp.
                        metadata:
                          type: array
                          items:
                            type: object
                            additionalProperties:
                              type: string
                          description: Followup metadata
                        starred:
                          type: boolean
                          description: Followup starred state. Can be true or false.
                        status:
                          type: string
                          enum:
                          - TO_DO
                          - IN_PROGRESS
                          - COMPLETE
                          description: Followup status. Can be TO_DO, IN_PROGRESS, or COMPLETE.
                        thinking:
                          type: string
                          description: Followup thinking and score breakdown
                        history:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Followup history id
                              updatedBy:
                                type: string
                                description: Followup history updated by
                              updatedByUserId:
                                type: string
                                nullable: true
                                description: Followup history updated by user id. Null if the updated by is a Siro system action.
                              createdAt:
                                type: string
                                description: Followup history created at. ISO 8601 UTC timestamp.
                              note:
                                type: string
                                description: Followup history note
                              status:
                                type: string
                                enum:
                                - TO_DO
                                - IN_PROGRESS
                                - COMPLETE
                                description: Followup history status
                            required:
                            - id
                            - updatedBy
                            - updatedByUserId
                            - createdAt
                          description: Followup history. Returns all status changes and notes for the followup.
                        crmUrl:
                          type: string
                          nullable: true
                          description: URL to the customer in the linked CRM (DEPRECATED)
                        crmCustomer:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: string
                              description: Customer ID
                            name:
                              type: string
                              nullable: true
                              description: Customer name
                            crmUrl:
                              type: string
                              description: URL to this customer in the linked CRM
                            customerType:
                              type: string
                              enum:
                              - ACCOUNT
                              - LEAD
                              - OPPORTUNITY
                              - ENGAGEMENT
                              - CONTACT
                              - DMS_OPPORTUNITY
                            lastActivityAt:
                              type: string
                              nullable: true
                              description: Last activity date
                            createdAt:
                              type: string
                              format: date-time
                              description: Date the Customer record was created in Siro
                            updatedAt:
                              type: string
                              format: date-time
                              description: Date the Customer record was last updated in Siro
                            closedAt:
                              type: string
                              nullable: true
                              format: date-time
                              description: Date the Customer was closed (applicable to Opportunities)
                            emailAddress:
                              type: string
                              nullable: true
                              description: Customer email addresses
                            phoneNumber:
                              type: string
                              nullable: true
                              description: Customer phone numbers
                            externalId:
                              type: string
                              nullable: true
                              description: Customer external ID
                            amount:
                              type: number
                              nullable: true
                              description: Dollar amount associated with a Customer deal
                            disposition:
                              type: string
                              nullable: true
                              description: 'Disposition for the Customer deal: "WON" | "LOST" | "OPEN"'
                            recordingId:
                              type: string
                              nullable: true
                              description: ID of the most recent recording linked to this customer
                            lastRecordingDate:
                              type: string
                              nullable: true
                              format: date-time
                              description: Datetime of the most recent recording linked to this customer
                            numRecordings:
                              type: number
                              nullable: true
                              description: Total number of recordings linked to this customer
                            matchingSource:
                              type: string
                              nullable: true
                              enum:
                              - DIRECT
                              - FUZZY
                              - NOT_FOUND
                              description: Source of matching
                            accountId:
                              type: string
                              nullable: true
                              description: Account ID
                            opportunityAccountName:
                              type: string
                              nullable: true
                              description: Account Name associated with the Opportunity
                            contactId:
                              type: string
                              nullable: true
                              description: Contact ID
                            opportunityContactName:
                              type: string
                              nullable: true
                              description: Contact Name associated with the Opportunity
                            opportunityId:
                              type: string
                              nullable: true
                              description: Opportunity ID
                            engagementId:
                              type: string
                              nullable: true
                              description: Engagement ID
                            opportunity:
                              type: object
                              nullable: true
                              properties:
                                id:
                                  type: string
                                externalId:
                                  type: string
                                  description: The ID of the opportunity in the external system (e.g. Salesforce)
                                name:
                                  type: string
                                  nullable: true
                                  description: The name of the opportunity
                                amount:
                                  type: number
                                  description: The dollar amount of the opportunity
                                closedAt:
                                  type: string
                                  description: The closure date of the opportunity
                                disposition:
                                  type: string
                                  description: '"WON" | "LOST" | "OPEN"'
                                createdAt:
                                  type: string
                                  description: The date the opportunity was created
                                updatedAt:
                                  type: string
                                  description: The date the opportunity was last updated
                                recordingId:
                                  type: string
                                  description: The ID of the recording associated to the opportunity
                                accountId:
                                  type: string
                                organizationId:
                                  type: string
                                account:
                                  nullable: true
                                opportunityUsers:
                                  type: array
                                  items:
                                    nullable: true
                              required:
                              - id
                              - externalId
                              - createdAt
                              - updatedAt
                              - organizationId
                              description: Opportunity
                            opportunities:
                              type: object
                              nullable: true
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      externalId:
                                        type: string
                                        description: The ID of the opportunity in the external system (e.g. Salesforce)
                                      name:
                                        type: string
                                        nullable: true
                                        description: The name of the opportunity
                                      amount:
                                        type: number
                                        description: The dollar amount of the opportunity
                                      closedAt:
                                        type: string
                                        description: The closure date of the opportunity
                                      disposition:
                                        type: string
                                        description: '"WON" | "LOST" | "OPEN"'
                                      createdAt:
                                        type: string
                                        description: The date the opportunity was created
                                      updatedAt:
                                        type: string
                                        description: The date the opportunity was last updated
                                      recordingId:
                                        type: string
                                        description: The ID of the recording associated to the opportunity
                                      accountId:
                                        type: string
                                      organizationId:
                                        type: string
                                      account:
                                        nullable: true
                                      opportunityUsers:
                                        type: array
                                        items:
                                          nullable: true
                                    required:
                                    - id
                                    - externalId
                                    - createdAt
                                    - updatedAt
                                    - organizationId
                                cursor:
                                  type: string
                                  nullable: true
                              required:
                              - data
                              description: Optional first page of related opportunities for Accounts or Contacts
                            opportunityUsers:
                              type: array
                              nullable: true
                              items:
                                nullable: true
                              description: Users associated with the opportunity
                            contactAccount:
                              type: object
                              nullable: true
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                  nullable: true
                                  description: The name of the account
                                externalId:
                                  type: string
                                  nullable: true
                                  description: The ID of the account in the external system (e.g. Salesforce)
                              required:
                              - id
                              description: Contact Account
                            address:
                              type: string
                              nullable: true
                              description: Address
                            organizationId:
                              type: string
                              description: Organization ID
                            integrationConnectionId:
                              type: string
                              nullable: true
                              description: Integration Connection ID
                            integrationPlatform:
                              type: string
                              nullable: true
                              enum:
                              - MERGE
                              - SIRO_CUSTOM_INPUT
                              - SERVICE_TITAN
                              - COMPANY_CAM
                              - INGAGE
                              - LEAD_PERFECTION
                              - SPOTIO
                              description: Integration Platform
                            integrationName:
                              type: string
                              nullable: true
                              description: Integration Name
                          required:
                          - id
                          - createdAt
                          - updatedAt
                          - organizationId
                          description: Followup CRM customer. Includes the CRM customer if the followup is associated with a CRM customer.
                        hasFollowupComment:
                          type: boolean
                          description: Whether the followup has a followup specific comment on the associated recording.
                        note:
                          type: string
                          nullable: true
                          description: Followup note. Deprecated in favor of FollowupHistory.
                        completed:
                          type: boolean
                          description: Followup completed state. Deprecated in favor of status, which is included in FollowupHistory.
                        completedBy:
                          type: string
                          nullable: true
                          description: Followup completed by. Deprecated in favor of FollowupHistory.
                        completedAt:
                          type: string
                          nullable: true
                          description: Followup completed at. ISO 8601 UTC timestamp. Deprecated in favor of FollowupHistory.
                      required:
                      - recordingId
                      - recordingTitle
                      - repName
                      - repId
                      - teamName
                      - teamId
                      - followupId
                      - dateCreated
                      - followupType
                      - score
                      - followupAction
                      - context
                      - updatedAt
                      - metadata
                      - starred
                      - status
                      - thinking
                      - crmCustomer
                      - hasFollowupComment
                      - note
                      - completed
                      - completedBy
                      - completedAt
                    description: Array of follow-up actions and communications generated from the recording
                required:
                - id
                - organizationId
                - userId
                - title
                - durationInMilliseconds
                - latitude
                - longitude
                - result
                - createdAt
                - updatedAt
                - deleted
                - links
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/recordings:
    get:
      summary: Get recordings
      description: Get recordings
      parameters:
      - schema:
          type: string
          nullable: true
          description: 'Return results created strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results created strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: createdAt:gt
        in: query
      - schema:
          type: string
          nullable: true
          description: 'Return results created strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results created strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: createdAt:lt
        in: query
      - schema:
          type: string
          nullable: true
          description: 'Return results updated at or after the given date (inclusive). Use this for incremental polling. Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated at or after the given date (inclusive). Use this for incremental polling. Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:gte
        in: query
      - schema:
          type: string
          nullable: true
          description: 'Return results updated strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated strictly after the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:gt
        in: query
      - schema:
          type: string
          nullable: true
          description: 'Return results updated strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated strictly before the given date (exclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:lt
        in: query
      - schema:
          type: string
          nullable: true
          description: 'Return results updated at or before the given date (inclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        required: false
        description: 'Return results updated at or before the given date (inclusive). Format: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). Example: 2024-06-13T04:00:00.592Z'
        name: updatedAt:lte
        in: query
      - schema:
          type: string
          description: Number of results to return per page (default is 25).
        required: false
        description: Number of results to return per page (default is 25).
        name: pageSize
        in: query
      - schema:
          type: string
          description: Cursor for pagination.
        required: false
        description: Cursor for pagination.
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Filter by processing status.
        required: false
        description: Filter by processing status.
        name: isProcessingDone
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Filter by entity extraction status.
        required: false
        description: Filter by entity extraction status.
        name: isEntityExtractionDone
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Filter by summary status.
        required: false
        description: Filter by summary status.
        name: isSummaryDone
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        required: false
        description: Include CRM link IDs for the recording (integration connection, users, engagement, opportunity, contacts, account, lead).
        name: showCrmLinks
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording summary results.
        required: false
        description: Include the recording summary results.
        name: showSummary
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the recording entity extractions.
        required: false
        description: Include the recording entity extractions.
        name: showEntityExtractions
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include the scorecard evaluation score for the recording.
        required: false
        description: Include the scorecard evaluation score for the recording.
        name: showEvaluationScore
        in: query
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        required: false
        description: Include followups for the recording. List returns id/score summaries; GET by id returns the full followup payload.
        name: showFollowups
        in: query
      responses:
        '200':
          description: Get recordings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        organizationId:
                          type: string
                        userId:
                          type: string
                        title:
                          type: string
                        durationInMilliseconds:
                          type: number
                        latitude:
                          type: number
                        longitude:
                          type: number
                        result:
                          type: string
                          enum:
                          - OPEN
                          - WON
                          - LOST
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        rootDataPurgedAt:
                          type: string
                          nullable: true
                        deleted:
                          type: boolean
                          description: Whether the recording has been deleted. Deleted recordings are still returned so consumers can reconcile them; check this flag (and deletedAt) to handle them.
                        deletedAt:
                          type: string
                          nullable: true
                          description: When the recording was deleted, if it has been deleted.
                        links:
                          type: object
                          properties:
                            web:
                              type: object
                              properties:
                                self:
                                  type: string
                              required:
                              - self
                          required:
                          - web
                        isProcessingDone:
                          type: boolean
                        isEntityExtractionDone:
                          type: boolean
                        isSummaryDone:
                          type: boolean
                        crm:
                          type: object
                          properties:
                            integrationConnectionId:
                              type: string
                              description: Siro internal IntegrationConnection id for the CRM connection
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Internal Siro ID for the external object
                                  externalId:
                                    type: string
                                    description: External ID for the external object in the CRM
                                required:
                                - id
                                - externalId
                              description: CRM Engagement User(s) owning the recording
                            engagement:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Engagement tied to the recording
                            opportunity:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Opportunity tied to the recording
                            contacts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Internal Siro ID for the external object
                                  externalId:
                                    type: string
                                    description: External ID for the external object in the CRM
                                required:
                                - id
                                - externalId
                              description: CRM Contact(s) tied to the recording
                            account:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Account tied to the recording
                            lead:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Internal Siro ID for the external object
                                externalId:
                                  type: string
                                  description: External ID for the external object in the CRM
                              required:
                              - id
                              - externalId
                              description: CRM Lead tied to the recording
                          required:
                          - integrationConnectionId
                        summary:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              content:
                                type: string
                            required:
                            - id
                            - name
                            - content
                        entityExtractions:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              value:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    type: string
                                - type: string
                                - type: number
                                - type: boolean
                                - nullable: true
                                - type: array
                                  items:
                                    anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - nullable: true
                                    - nullable: true
                                - nullable: true
                              mappings:
                                type: array
                                nullable: true
                                items:
                                  type: object
                                  properties:
                                    crmModelName:
                                      type: string
                                    crmFieldName:
                                      type: string
                                  required:
                                  - crmModelName
                                  - crmFieldName
                            required:
                            - name
                        evaluationScore:
                          type: number
                          description: Scorecard evaluation score for the recording
                        followups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              score:
                                type: number
                          description: Slim followup summaries (id and score). Use GET /recordings/{id}?showFollowups=true for the full followup payload.
                      required:
                      - id
                      - organizationId
                      - userId
                      - title
                      - durationInMilliseconds
                      - latitude
                      - longitude
                      - result
                      - createdAt
                      - updatedAt
                      - deleted
                      - links
                  cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for pagination
                required:
                - data
                - cursor
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/recordings/{id}/summaries:
    get:
      summary: Get recording summaries
      description: Get recording summaries
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: Get recording summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    content:
                      type: string
                  required:
                  - id
                  - name
                  - content
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/users:
    get:
      summary: Get users
      description: Get users
      parameters:
      - schema:
          type: boolean
          nullable: true
          description: Optionally filter by users which you have disabled.
        required: false
        description: Optionally filter by users which you have disabled.
        name: disabled
        in: query
      - schema:
          type: boolean
          nullable: true
          description: Whether to exclude users with Siro emails (including bot users)
        required: false
        description: Whether to exclude users with Siro emails (including bot users)
        name: excludeSiroUsers
        in: query
      - schema:
          type: string
          description: Optionally filter to Siro user linked to external system with this external Id
        required: false
        description: Optionally filter to Siro user linked to external system with this external Id
        name: externalId
        in: query
      responses:
        '200':
          description: Get users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        email:
                          type: string
                          nullable: true
                        organizationId:
                          type: string
                        phoneNumber:
                          type: string
                          nullable: true
                        firstName:
                          type: string
                          nullable: true
                        lastName:
                          type: string
                          nullable: true
                        memberTeamId:
                          type: string
                          nullable: true
                        coachTeamIds:
                          type: array
                          items:
                            type: string
                        externalId:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          nullable: true
                        disabled:
                          type: boolean
                        billable:
                          type: boolean
                        contactSettings:
                          type: object
                          properties:
                            suppressEmails:
                              type: boolean
                              description: Whether the user should receive any emails
                            suppressEmailErrors:
                              type: boolean
                              default: false
                              description: If true, email-related errors will be logged but not thrown. User operations will succeed even if email operations fail. Defaults to false.
                          description: Contact settings for the user
                      required:
                      - id
                      - email
                      - organizationId
                      - phoneNumber
                      - firstName
                      - lastName
                      - memberTeamId
                      - coachTeamIds
                      - externalId
                      - createdAt
                      - disabled
                      - billable
                  cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for pagination
                required:
                - data
                - cursor
      security:
      - bearerAuth: []
      tags:
      - Core
    post:
      summary: Create user
      description: Create user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user in your system. They will receive a password reset email to this address when their user is created in Siro. '
                organizationId:
                  type: string
                password:
                  type: string
                  description: Deprecated. This field is ignored; the backend generates a secure random password for the account.
                phoneNumber:
                  type: string
                  description: The user's phone number.
                firstName:
                  type: string
                  description: The user's first name.
                lastName:
                  type: string
                  description: The user's last name.
                memberTeamId:
                  type: string
                  description: The 6 digit code for the user's team. Strongly suggested to add this.
                externalId:
                  type: string
                  description: 'The unique id of the resource in your CRM system. Multiple resources cannot have the same externalId within the same organization. '
                coachTeamIds:
                  type: array
                  items:
                    type: string
                isAdmin:
                  type: boolean
                billable:
                  type: boolean
                  description: Whether the user is billable and should be included in the license count
                contactSettings:
                  type: object
                  properties:
                    suppressEmails:
                      type: boolean
                      description: Whether the user should receive any emails
                    suppressEmailErrors:
                      type: boolean
                      default: false
                      description: If true, email-related errors will be logged but not thrown. User operations will succeed even if email operations fail. Defaults to false.
                  description: Contact settings for the user
              required:
              - email
              - organizationId
      responses:
        '200':
          description: Create user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                    nullable: true
                  organizationId:
                    type: string
                  phoneNumber:
                    type: string
                    nullable: true
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  memberTeamId:
                    type: string
                    nullable: true
                  coachTeamIds:
                    type: array
                    items:
                      type: string
                  externalId:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                    nullable: true
                  disabled:
                    type: boolean
                  billable:
                    type: boolean
                  contactSettings:
                    type: object
                    properties:
                      suppressEmails:
                        type: boolean
                        description: Whether the user should receive any emails
                      suppressEmailErrors:
                        type: boolean
                        default: false
                        description: If true, email-related errors will be logged but not thrown. User operations will succeed even if email operations fail. Defaults to false.
                    description: Contact settings for the user
                required:
                - id
                - email
                - organizationId
                - phoneNumber
                - firstName
                - lastName
                - memberTeamId
                - coachTeamIds
                - externalId
                - createdAt
                - disabled
                - billable
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/users/{id}:
    get:
      summary: Get user
      description: Get user
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: Get user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                    nullable: true
                  organizationId:
                    type: string
                  phoneNumber:
                    type: string
                    nullable: true
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  memberTeamId:
                    type: string
                    nullable: true
                  coachTeamIds:
                    type: array
                    items:
                      type: string
                  externalId:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                    nullable: true
                  disabled:
                    type: boolean
                  billable:
                    type: boolean
                  contactSettings:
                    type: object
                    properties:
                      suppressEmails:
                        type: boolean
                        description: Whether the user should receive any emails
                      suppressEmailErrors:
                        type: boolean
                        default: false
                        description: If true, email-related errors will be logged but not thrown. User operations will succeed even if email operations fail. Defaults to false.
                    description: Contact settings for the user
                required:
                - id
                - email
                - organizationId
                - phoneNumber
                - firstName
                - lastName
                - memberTeamId
                - coachTeamIds
                - externalId
                - createdAt
                - disabled
                - billable
      security:
      - bearerAuth: []
      tags:
      - Core
    put:
      summary: Update user
      description: Update user
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The user's email
                phoneNumber:
                  type: string
                  description: The user's phone number.
                firstName:
                  type: string
                  description: The user's first name.
                lastName:
                  type: string
                  description: The user's last name.
                memberTeamId:
                  type: string
                  description: The 6 digit code for the user's team. Strongly suggested to add this.
                disabled:
                  type: boolean
                  description: This field is true for users who are no longer a part of your organization or no longer using Siro.
                billable:
                  type: boolean
                  description: Whether the user is billable and should be included in the license count
                contactSettings:
                  type: object
                  properties:
                    suppressEmails:
                      type: boolean
                      description: Whether the user should receive any emails
                    suppressEmailErrors:
                      type: boolean
                      default: false
                      description: If true, email-related errors will be logged but not thrown. User operations will succeed even if email operations fail. Defaults to false.
                  description: Contact settings for the user
                organizationId:
                  type: string
                  description: Organization ID of the user
      responses:
        '200':
          description: Update user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                    nullable: true
                  organizationId:
                    type: string
                  phoneNumber:
                    type: string
                    nullable: true
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  memberTeamId:
                    type: string
                    nullable: true
                  coachTeamIds:
                    type: array
                    items:
                      type: string
                  externalId:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                    nullable: true
                  disabled:
                    type: boolean
                  billable:
                    type: boolean
                  contactSettings:
                    type: object
                    properties:
                      suppressEmails:
                        type: boolean
                        description: Whether the user should receive any emails
                      suppressEmailErrors:
                        type: boolean
                        default: false
                        description: If true, email-related errors will be logged but not thrown. User operations will succeed even if email operations fail. Defaults to false.
                    description: Contact settings for the user
                required:
                - id
                - email
                - organizationId
                - phoneNumber
                - firstName
                - lastName
                - memberTeamId
                - coachTeamIds
                - externalId
                - createdAt
                - disabled
                - billable
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/mobile-events:
    get:
      summary: Get mobile events for an org
      description: Get mobile events for an organization with optional filtering
      parameters:
      - schema:
          type: string
          description: "Return results created AFTER the given date. \n\t\t\t\t\t\tFormat: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). \n\t\t\t\t\t\tExample: 2024-06-13T04:00:00.592Z"
        required: false
        description: "Return results created AFTER the given date. \n\t\t\t\t\t\tFormat: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). \n\t\t\t\t\t\tExample: 2024-06-13T04:00:00.592Z"
        name: createdAtGt
        in: query
      - schema:
          type: string
          description: "Return results created BEFORE the given date. \n\t\t\t\t\tFormat: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). \n\t\t\t\t\tExample: 2024-06-13T04:00:00.592Z"
        required: false
        description: "Return results created BEFORE the given date. \n\t\t\t\t\tFormat: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ss.sssZ). \n\t\t\t\t\tExample: 2024-06-13T04:00:00.592Z"
        name: createdAtLt
        in: query
      - schema:
          type: string
          description: Cursor token for pagination.
        required: false
        description: Cursor token for pagination.
        name: cursor
        in: query
      - schema:
          type: number
          minimum: 1
          maximum: 1000
          default: 100
          description: Number of results to return per page.
        required: false
        description: Number of results to return per page.
        name: pageSize
        in: query
      - schema:
          type: string
          enum:
          - recorderStateChange
          - networkStatusChange
          - appStateChange
          - consentStatusChanged
          - recordingMetadataChanged
          - deeplinkReceived
          - deeplinkConsumed
          - userAuthStatusChanged
          description: 'DEPRECATED: Use eventCodeIn. Filters to the provided eventCode only.'
        required: false
        description: 'DEPRECATED: Use eventCodeIn. Filters to the provided eventCode only.'
        name: eventCode
        in: query
      - schema:
          type: array
          items:
            type: string
          maxItems: 10
          description: Filters to the provided eventCode(s). Accepts comma-separated values or repeated eventCodeIn params.
        required: false
        description: Filters to the provided eventCode(s). Accepts comma-separated values or repeated eventCodeIn params.
        name: eventCodeIn
        in: query
      - schema:
          type: string
          description: Filters to the provided userId only.
        required: false
        description: Filters to the provided userId only.
        name: userId
        in: query
      - schema:
          type: string
          description: Filters to the provided recordingId only.
        required: false
        description: Filters to the provided recordingId only.
        name: recordingId
        in: query
      responses:
        '200':
          description: Get mobile events for an org
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          recordingId:
                            type: string
                          externalOpportunityIds:
                            type: array
                            items:
                              type: string
                          userId:
                            type: string
                          organizationId:
                            type: string
                          eventCode:
                            type: string
                            enum:
                            - recorderStateChange
                            - networkStatusChange
                            - appStateChange
                            - consentStatusChanged
                            - recordingMetadataChanged
                            - deeplinkReceived
                            - deeplinkConsumed
                            - userAuthStatusChanged
                          event:
                            anyOf:
                            - type: object
                              properties:
                                value:
                                  type: string
                                  enum:
                                  - start
                                  - resume
                                  - pause
                                  - stop
                                  - cancelled
                                trigger:
                                  type: string
                                  enum:
                                  - interruption
                                  - buttonPress
                                  - deeplink
                                  - maxRecordingTimeExceeded
                                  - unknown
                              required:
                              - value
                              - trigger
                            - type: object
                              properties:
                                value:
                                  type: string
                                  enum:
                                  - online
                                  - offline
                              required:
                              - value
                            - type: object
                              properties:
                                value:
                                  type: string
                                  enum:
                                  - background
                                  - active
                                  - inactive
                              required:
                              - value
                            - type: object
                              properties:
                                status:
                                  type: string
                                  enum:
                                  - requested
                                  - granted
                                  - declined
                              required:
                              - status
                            - type: object
                              properties:
                                title:
                                  type: string
                              required:
                              - title
                            - type: object
                              properties:
                                fullUrl:
                                  type: string
                              required:
                              - fullUrl
                            - type: object
                              properties:
                                status:
                                  type: string
                                  enum:
                                  - authenticated
                                  - unauthenticated
                              required:
                              - status
                          createdAt:
                            type: string
                        required:
                        - id
                        - userId
                        - organizationId
                        - eventCode
                        - event
                        - createdAt
                  cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for pagination
                required:
                - data
                - cursor
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/mobile-events/{id}:
    get:
      summary: Get mobile event by ID
      description: Get a specific mobile event by its ID
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: Get mobile event by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  recordingId:
                    type: string
                  externalOpportunityIds:
                    type: array
                    items:
                      type: string
                  userId:
                    type: string
                  organizationId:
                    type: string
                  eventCode:
                    type: string
                    enum:
                    - recorderStateChange
                    - networkStatusChange
                    - appStateChange
                    - consentStatusChanged
                    - recordingMetadataChanged
                    - deeplinkReceived
                    - deeplinkConsumed
                    - userAuthStatusChanged
                  event:
                    anyOf:
                    - type: object
                      properties:
                        value:
                          type: string
                          enum:
                          - start
                          - resume
                          - pause
                          - stop
                          - cancelled
                        trigger:
                          type: string
                          enum:
                          - interruption
                          - buttonPress
                          - deeplink
                          - maxRecordingTimeExceeded
                          - unknown
                      required:
                      - value
                      - trigger
                    - type: object
                      properties:
                        value:
                          type: string
                          enum:
                          - online
                          - offline
                      required:
                      - value
                    - type: object
                      properties:
                        value:
                          type: string
                          enum:
                          - background
                          - active
                          - inactive
                      required:
                      - value
                    - type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - requested
                          - granted
                          - declined
                      required:
                      - status
                    - type: object
                      properties:
                        title:
                          type: string
                      required:
                      - title
                    - type: object
                      properties:
                        fullUrl:
                          type: string
                      required:
                      - fullUrl
                    - type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - authenticated
                          - unauthenticated
                      required:
                      - status
                  createdAt:
                    type: string
                required:
                - id
                - userId
                - organizationId
                - eventCode
                - event
                - createdAt
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/auth/caller-identity:
    get:
      summary: Get details about your current auth token
      description: Returns metadata about the auth token used to make this API call
      responses:
        '200':
          description: Get details about your current auth token
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                  tokenName:
                    type: string
                  organizationId:
                    type: string
                  authorizedOrgGroupId:
                    type: string
                    nullable: true
                    description: The ID of the org-group that this token is authorized to act as. Default null.
                  parentOrgGroupTokenId:
                    type: string
                    nullable: true
                    description: The ID of the org-group-token that created this org-scoped token. Will be null for tokens created through the UI.
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                    nullable: true
                    description: The Siro uid of the user who created the token.
                required:
                - tokenId
                - tokenName
                - organizationId
                - authorizedOrgGroupId
                - parentOrgGroupTokenId
                - createdAt
                - createdBy
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/auth/tokens/{id}:
    get:
      summary: Get a single authentication token by ID
      description: Get a single authentication token within a given org by ID
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: Get a single authentication token by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                  tokenName:
                    type: string
                  organizationId:
                    type: string
                  authorizedOrgGroupId:
                    type: string
                    nullable: true
                    description: The ID of the org-group that this token is authorized to act as. Default null.
                  parentOrgGroupTokenId:
                    type: string
                    nullable: true
                    description: The ID of the org-group-token that created this org-scoped token. Will be null for tokens created through the UI.
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                    nullable: true
                    description: The Siro uid of the user who created the token.
                required:
                - tokenId
                - tokenName
                - organizationId
                - authorizedOrgGroupId
                - parentOrgGroupTokenId
                - createdAt
                - createdBy
      security:
      - bearerAuth: []
      tags:
      - Core
    delete:
      summary: Delete a single authentication token by ID
      description: Delete a single authentication token within a given org by ID. Can only be used with org-group tokens.
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: Delete a single authentication token by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                  tokenName:
                    type: string
                  organizationId:
                    type: string
                  authorizedOrgGroupId:
                    type: string
                    nullable: true
                    description: The ID of the org-group that this token is authorized to act as. Default null.
                  parentOrgGroupTokenId:
                    type: string
                    nullable: true
                    description: The ID of the org-group-token that created this org-scoped token. Will be null for tokens created through the UI.
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                    nullable: true
                    description: The Siro uid of the user who created the token.
                required:
                - tokenId
                - tokenName
                - organizationId
                - authorizedOrgGroupId
                - parentOrgGroupTokenId
                - createdAt
                - createdBy
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/auth/tokens:
    get:
      summary: List all tokens for a given org.
      description: List all tokens for a given org. Can be used with org-scoped or org-group token. If org-group token, must pass selector.
      responses:
        '200':
          description: List all tokens for a given org.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        tokenId:
                          type: string
                        tokenName:
                          type: string
                        organizationId:
                          type: string
                        authorizedOrgGroupId:
                          type: string
                          nullable: true
                          description: The ID of the org-group that this token is authorized to act as. Default null.
                        parentOrgGroupTokenId:
                          type: string
                          nullable: true
                          description: The ID of the org-group-token that created this org-scoped token. Will be null for tokens created through the UI.
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                          nullable: true
                          description: The Siro uid of the user who created the token.
                      required:
                      - tokenId
                      - tokenName
                      - organizationId
                      - authorizedOrgGroupId
                      - parentOrgGroupTokenId
                      - createdAt
                      - createdBy
                  cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for pagination
                required:
                - data
                - cursor
      security:
      - bearerAuth: []
      tags:
      - Core
    post:
      summary: Create a new authentication token for an organization.
      description: Create a new authentication token for an organization. Can only be used with org-group tokens.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenName:
                  type: string
                organizationId:
                  type: string
              required:
              - tokenName
              - organizationId
      responses:
        '200':
          description: Create a new authentication token for an organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                  tokenName:
                    type: string
                  organizationId:
                    type: string
                  authorizedOrgGroupId:
                    type: string
                    nullable: true
                    description: The ID of the org-group that this token is authorized to act as. Default null.
                  parentOrgGroupTokenId:
                    type: string
                    nullable: true
                    description: The ID of the org-group-token that created this org-scoped token. Will be null for tokens created through the UI.
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                    nullable: true
                    description: The Siro uid of the user who created the token.
                  token:
                    type: string
                required:
                - tokenId
                - tokenName
                - organizationId
                - authorizedOrgGroupId
                - parentOrgGroupTokenId
                - createdAt
                - createdBy
                - token
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/oauth/apps/{clientId}:
    get:
      summary: Get a specific OAuth app
      description: This endpoint returns the OAuth app with the given client ID.
      parameters:
      - schema:
          type: string
        required: true
        name: clientId
        in: path
      responses:
        '200':
          description: Get a specific OAuth app
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      appName:
                        type: string
                      clientId:
                        type: string
                      organizationId:
                        type: string
                        description: The organization that owns this OAuth app.
                      owner:
                        type: string
                        description: The user that created this OAuth app.
                      deleted:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      deletedAt:
                        type: string
                        nullable: true
                        format: date-time
                    required:
                    - appName
                    - clientId
                    - organizationId
                    - owner
                    - deleted
                    - createdAt
                    - updatedAt
                    - deletedAt
                  cursor:
                    anyOf:
                    - type: string
                    - type: number
                    - nullable: true
                  pageSize:
                    type: number
                  limit:
                    type: number
                  total:
                    type: number
                    nullable: true
                  hasNextPage:
                    type: boolean
                required:
                - data
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                required:
                - error
        '401':
          description: Unauthorized - User not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authentication error message
                required:
                - error
        '403':
          description: Forbidden - User does not have access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Authorization error message
                required:
                - error
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Resource not found error message
                required:
                - error
        '422':
          description: Unprocessable Content - The request failed validation checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        expected:
                          type: string
                        received:
                          type: string
                        path:
                          type: array
                          items:
                            anyOf:
                            - type: string
                            - type: number
                        message:
                          type: string
                      required:
                      - code
                      - path
                      - message
                  name:
                    type: string
                    enum:
                    - ZodError
                required:
                - issues
                - name
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Internal server error message
                required:
                - error
      security:
      - bearerAuth: []
      tags:
      - Core
    delete:
      summary: Delete an OAuth application by id.
      description: This endpoint will soft-delete an oauth app and revoke all associated tokens.
      parameters:
      - schema:
          type: string
        required: true
        name: clientId
        in: path
      responses:
        '200':
          description: Delete an OAuth application by id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientId:
                    type: string
                required:
                - clientId
      security:
      - bearerAuth: []
      tags:
      - Core
  /v1/core/oauth/apps:
    get:
      summary: Get all OAuth apps for an organization
      description: This endpoint returns all registered OAuth apps for a given owner meeting the specified filters.Results can be returned using either a cursor-based pagination or a page-based pagination.If both a cursor and a page are provided, the cursor will be used.By default, results are sorted by dateCreated in descending order.
      parameters:
      - schema:
          type: string
          minLength: 1
          description: The organization that owns one or more OAuth apps.
        required: true
        description: The organization that owns one or more OAuth apps.
        name: organizationId
        in: query
      - schema:
          type: string
          minLength: 1
          description: The id of the user that created one or more OAuth apps.
        required: true
        description: The id of the user that created one or more OAuth apps.
        name: owner
        in: query
      - schema:
          type: string
          format: date-time
          description: Return OAuth apps created after this date.
        required: false
        description: Return OAuth apps created after this date.
        name: fromDate
        in: query
      - schema:
          type: string
          format: date-time
          description: Return OAuth apps created before this date.
        required: false
        description: Return OAuth apps created before this date.
        name: toDate
        in: query
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
          description: The number of results to return. If omitted, 100 results will be returned.
        required: false
        description: The number of results to return. If omitted, 100 results will be returned.
        name: limit
        in: query
      - schema:
          type: string
          minLength: 1
          description: The cursor to paginate the results. Cursor-based pagination will always be used unless if left blank and a page number is provided.
        required: false
        description: The cursor to paginate the results. Cursor-based pagination will always be used unless if left blank and a page number is provided.
        name: cursor
        in: query
      - schema:
          type: integer
          minimum: 1
          description: The page number to return. If omitted, the first page of results will be returned.
        required: false
        description: The page number to return. If omitted, the first page of results will be returned.
        name: page
        in: query
      - schema:
          type: string
          enum:
          - dateCreated
          - dateUpdated
          default: dateCreated
          description: The field to sort the results by. If omitted, the results will be sorted by dateCreated in descending order.
        required: false
        description: The field to sort the results by. If omitted, the results will be sorted by dateCreated in descending order.
        name: sortField
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: The direction to sort the results by. If omitted, the results will be sorted by dateCreated in descending order.
        required: false
        description: The direction to sort the results by. If omitted, the results will be sorted by dateCreated in descending order.
        name: sortDirection
        in: query
      responses:
        '200':
          description: Get all OAuth apps for an organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        appName:
                          type: string
                        clientId:
                          type: string
                        organizationId:
                          type: string
                          description: The organization that owns this OAuth app.
                        owner:
                          type: string
                          description: The user that created this OAuth app.
                        deleted:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        deletedAt:
                          type: string
                          nullable: true
                          format: date-time
                      required:
                      - appName
                      - clientId
                      - organizationId
                      - owner
                      - deleted
                      - createdAt
                      - updatedAt
                      - deletedAt
                  cursor:
                    anyOf:
                    - type: string
                    - type: number
                    - nullable: true
                  pageSize:
                    type: number
                  limit:
                    type: number
                  total:
                    type: number
                    nullable: true
                  hasNextPage:
                    type: boolean
                required:
                - data
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                required:
                - error
        '401':
          description: Unauthorized - User not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
[...]
